svg {
  color: white;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  margin-top: 20px;
  margin-left: 170px;
  color: white;
  padding: 10px;
}

.navbar-left {
  display: flex;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 5px;
  cursor: pointer;
}

.avatar-container {
  cursor: pointer;
}

.search-input {
  background-color: transparent;
  color: white;
  border: none;
}

.avtar {
  width: 4vh;
}

.avatar-dropdown {
  position: absolute;
  right: 0;
  display: none;
  background-color: black;
  padding: 10px;
}

.avatar-container:hover .avatar-dropdown {
  display: block;
}

.dropdown-content button {
  display: block;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 5px;
}

.dropdown-content button:hover {
  text-decoration: underline;
}

.footer {
  color: grey;
  padding: 30px 150px 30px 150px;
  line-height: 3;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.service-code {
  color: grey;
  border: solid 1px;
  padding: 5px;
}
.service-code:hover {
  color: white;
}
