.featured {
  background-size: cover;
  background-position: center;
  height: 500px;
  color: white;
  margin-top: 4rem;
}

.featured-container {
  padding: top 140px;
  height: 190px;
  margin-left: 1rem;
}

.title {
  font-size: 3rem;
  font-weight: 800;
  padding: bottom 0.3rem;
  padding-top: 6rem;
}

.featured-button {
  display: flex;
}

.button1 {
  display: flex;
  align-items: center;
  color: black;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 2px;
  font-weight: 700;
  font-size: 25px;
  margin-right: 10px;
  background-color: white;
}

.button2 {
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 2px;
  font-weight: 700;
  font-size: 25px;
  margin-right: 10px;

  background-color: rgba(51, 51, 51, 0.5);
  opacity: 80%;
}

.button1:hover {
  opacity: 70%;
}
.button2:hover {
  opacity: 50%;
}

.text {
  width: 45rem;
  line-height: 1.5;
  padding-top: 1rem;
  font-size: 17px;
  height: 80px;
  max-width: 360px;
}
